body, html {
	height: 100%;
	margin: 0;
  }


.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Lato', sans-serif;
	background-image: url('../appointment/img/plain-bg.png');
	background-size: cover;
	background-position: center;
	color: #191a1e;
}


.booking-form {
	position: relative;
	background: #fff;
	max-width: 642px;
	width: 100%;
	margin: auto;
	padding: 45px 25px 25px;
	border-radius: 4px;
	-webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 10px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 65px;
	padding: 0px 15px;
	padding-top: 24px;
	color: #191a1e;
	border: 2px solid #dfe5e9;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 4px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #dfe5e9;
}

.booking-form .form-control::placeholder {
	color: #dfe5e9;
}

.booking-form .form-control:focus {
	background: #f9fafb;
}

.booking-form input[type="date"].form-control:invalid {
	color: #dfe5e9;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 6px;
	bottom: 6px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #dfe5e9;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	position: absolute;
	top: 6px;
	left: 20px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 24px;
	height: 24px;
	font-size: 12px;
	color: #98c9ee;
}

.booking-form .form-checkbox input {
	position: absolute !important;
	margin-left: -9999px !important;
	visibility: hidden !important;
}

.booking-form .form-checkbox label {
	position: relative;
	padding-top: 4px;
	padding-left: 30px;
	font-weight: 700px;
	color: #191a1e;
}

.booking-form .form-checkbox label+label {
	margin-left: 15px;
}

.booking-form .form-checkbox input+span {
	position: absolute;
	left: 2px;
	top: 4px;
	width: 20px;
	height: 20px;
	background: #fff;
	border: 2px solid #dfe5e9;
	border-radius: 50%;
}

.booking-form .form-checkbox input+span:after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0px;
	height: 0px;
	border-radius: 50%;
	background-color: #4fa3e3;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
	opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
	opacity: 1;
	width: 10px;
	height: 10px;
}

.booking-form .submit-btn {
	color: #fff;
	background-color: #4fa3e3;
	font-weight: 400;
	height: 65px;
	font-size: 18px;
	border: none;
	width: 100%;
	border-radius: 4px;
	text-transform: uppercase
}

.booking-cta {
	margin-top: 45px;
}

.booking-cta h1 {
	font-size: 52px;
	text-transform: uppercase;
	color: #4fa3e3;
	font-weight: 400;
}

.booking-cta p {
	font-size: 22px;
	color: gray;
}

/* Style tab links */
.tablink {
	text-shadow: 1px 2px 0px rgba(0,0,0,0.2);
	background-color: #455a64;
	color: white;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	font-size: 17px;
	width: 25%;
  }
  
  .tablink:hover {
	background-color: #546e7a;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
	color: white;
	display: none;
	padding: 100px 20px;
	height: 100%;
  }
  
  
  #Home {background: -webkit-gradient(linear, left top, right top, from(#4eadaf), to( #140850));
	  background: linear-gradient(to right,#140850,#4eadaf);}
  #News {background: -webkit-gradient(linear, left top, right top, from(#69c7af), to( #162068));
	  background: linear-gradient(to right,#162068,#69c7af);}
  #Contact {background: -webkit-gradient(linear, left top, right top, from(#88deb1), to( #254a7f));
	background: linear-gradient(to right,#254a7f,#88deb1);}
  #About {background: -webkit-gradient(linear, left top, right top, from(#9debc2), to( #377a97));
	background: linear-gradient(to right,#377a97,#9debc2);}


	div.ex1 {
		width: auto;
		margin: auto;
		height: 600px;;
		background: -webkit-gradient(linear, left top, right top, from(#69c7af), to( #162068));
			background: linear-gradient(to right,#162068,#69c7af);
	  }

	  .swal-icon img{
		width: 120px;
		height: 120px;
	  }
	
	  .box 
		  {
			position: relative;
			max-width: 900px;
			padding: 30px;
			width: 450px;
			background: rgba(255, 255, 255, .2);
			box-shadow: 0 5px 15px rgba(0, 0, 0, .25);
		  }
		  
	
		  .btn-secondary {
			background-color: #003B73;
	  border: none;
	  color: white;
	  padding: 8px 20px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 90px; }
	
		  .btn-secondary:hover {
	  color: white;
	  background-color: #024d95;
	  border-color:#024d95; }
	
	  .btn-danger {
			background-color:  #0074B7;
	  border: none;
	  color: white;
	  padding: 8px 20px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 90px; }
	
		  .btn-danger:hover {
	  color: white;
	  background-color:#068ddb;
	  border-color:#068ddb; }
	
	  .btn-danger2 {
			background-color: #60A3D9;
	  border: none;
	  color: white;
	  padding: 8px 20px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  margin: 4px 2px;
	  cursor: pointer;
	  border-radius: 90px; }
	
		  .btn-danger2:hover {
	  color: white;
	  background-color: #67b4f2;
	  border-color:#67b4f2; }
	
	/* Appointment Page Responsinve */
@media all and (max-width: 450px) {
		  
    .booking-cta {
      margin-top: 300px;
    }
    
    .booking-cta h1 {
      font-size: 40px;
      text-align: center; 
      text-transform: uppercase;
      color: #4fa3e3;
      font-weight: 400;
    }
    
    .booking-cta p {
      font-size: 18px;
      text-align: center; 
      color: gray; 
      margin-bottom: 30px;
    }

    div.ex2 {
		width: auto;
		margin: auto;
		height: 1100px;
		background-image :url('../appointment/img/clean.png');
	  }

      #booking {
        background-image: none;
    }

    .form-checkbox p {
font-size: 15px;
    }

.booking-form .submit-btn {
margin-top: 15px;
margin-bottom: 15px;
}

.booking-form .form-checkbox label+label {
	margin-left: 0px;
}

        }